.square {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.square:hover {
    box-sizing: border-box;
    border: 0.5vh solid green;
}

.square-last-move {
    box-sizing: border-box;
    border: 0.5vh solid red;
}